:root {
    --midnight-deep: #0b132b;
    --electric-cyan: #00f5ff;
    --golden-amber: #ffb400;
    --neon-teal: #00a896;
    --slate-gray: #1c2541;
}

/* <-------------- General Styling --------------> */
body {
    padding: 0;
    margin: 0;
    background-color: var(--midnight-deep);
    color: aliceblue;
}

main {
    padding: 0;
    margin: 0;
}

nav {
    padding-left: 1.5rem;
    border-bottom: 4px solid var(--electric-cyan);
}

a {
    text-decoration: none;
    color: var(--golden-amber);
    margin: 1rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    text-align: center;
    margin: 1rem;
}

h1 {
    margin-left: 1.5rem;
}

h2 {
    margin: 0.2rem;
}

h3 {
    font-size: medium;
    margin: 0.2rem;
}

p {
    font-size: small;
    margin: 0.2rem;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 0.2rem;
}

#logo {
    height: 3rem;
     
}

#logo:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 50;
}

.search-svg {
    width: 1rem;
    height: 1rem;
}

#nav-bar {
    background-color: var(--slate-gray);
    display: flex;
    align-items: center;
}

#search-box {
    margin-left: 5rem;
}

#search-input {
    display: flex;
    border: 2px solid var(--electric-cyan);
    border-radius: 30px;
    margin: 0.2rem;
    background-color: var(--midnight-deep);
    width: 20rem;
    height: 2.5rem;
    padding-left: 1rem;
    margin-bottom: 0.4rem;
    color: aliceblue;
}

::placeholder {
    color: var(--golden-amber);
}

#search-button {
    border: 2px solid var(--electric-cyan);
    border-radius: 100%;
    background-color: aliceblue;
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}

.page-title {
    width: 15rem;
    text-align: left;
    margin-left: 1rem;
    color: rgb(255, 255, 255);
}

.hidden {
    display: none !important;
}

#details-page {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#backdrop-box {
    width: 100%;
    height: 20rem;
    background-size: cover;
    background-position: center;
}

#content-box {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    border-radius: 3rem 3rem 0 0;
    width: 100%;
}

#poster-img {
    border: 3px solid var(--golden-amber);
    height: 20rem;
    margin: 2rem;
}

#text-details {
    color: black;
    text-align: left;
    padding: 1rem;
}

#title {
    margin-left: 0;
    margin-top: 0;
}

#description {
    font-size: medium;
}

/* <-------------- Main Page Styling --------------> */
.sorting-button {
    /* border: 1px solid black; */
    background-color: aliceblue;
    height: 25px;
    width: 90px;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    border: none;
    font-weight: bold;
}

.sorting-button:hover {
    border: 1px solid black;
    border-radius: 15px;
}

.buttons {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(3, 1fr);
    background-color: aliceblue;
    padding: 0;
    margin: 20px;
    border: 1px solid var(--electric-cyan);
    height: 25px;
    width: 270px;
    border-radius: 15px;

}

.selected-button {
    background-color: var(--neon-teal);
    border-radius: 15px;
}

#cards-box {
    padding: 0;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, 1fr);
}

.movie-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin: 0.5rem;
    width: 10rem;
    height: 20rem;
    text-align: center;
    border-radius: 0.6rem;

}

.movie-img:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 50; 
}

.movie-img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    /* Ensure position is relative so the star stays attached */
    position: relative;
    width: 10rem;
    height: 12rem;
    border-radius: 0.6rem;
    border: 2px solid var(--electric-cyan);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#browsing-box {
    margin: 1.5rem;
}

.star {
    position: absolute;
    left: 10%;
    transform: translateX(-20%);
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    left: 5px;         
    z-index: 100;
}